<% if @issue %>
    <div id="branches">
      <div class="contextual">
        <%= link_to l(:button_add),
                    {:controller => 'branches', :action => 'new', :issue => @issue},
                    :remote => true,
                    :method => 'get' %>
      </div>

      <h3><%= l(:label_issue_branches) %> (<%= @issue.branches.size %>)</h3>
      <%= branches_list(@issue.branches.all) %>

    </div>

<% end %>