<table>
  <tbody>
  <tr>
    <th>Inspection Preparation  - Lines Per Hour</th>
    <td><input type="text" id="settings_preparation_lines"
               value="<%= settings['preparation_lines'] %>"
               name="settings[preparation_lines]" >
  </tr>
  </tbody>
</table>